.left-panel {

}

.right-panel {
	height:100%;
}

.on-icon, .off-icon {
	width:50px;
	height:50px;
	position:relative;
	left:45%;
	border-radius: 100%;
	margin-top: 7%;
}

.on-icon {
	background-color: #74d600;
}

.off-icon {
	background-color: #FF1919;
}


.status-icon-text {
	text-align:center;
	padding-top:26%;
	font-weight: bold;
	color: white;
}

.chart-container { 
	position:relative;
	left:14%;
}

.state-container {
	position:relative;
	top:20%;
}

.chart-figure {
	position: absolute;
	top: 52%;
	font-weight: bold;
	left: 44.5%;
	font-size: 45px;
}

.top-title {
	text-align: center;
}

.plot-title {
	margin:5% 0 10% 0;
}

.s1 {
	margin-left:5%;
}